/* Main */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
/* End Main */

/* Banner */
.banner {
  margin-bottom: 10px;
  text-transform: capitalize;
}
/* End Banner */

/* Board */
.squares {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.squares .square {
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
/* End Board */